<section class="day-layout">

  <header class="day-layout__header">

      {{ currentDay }}

    <button (click)="changeDay(-1)">prev</button>
    <button (click)="changeDay(1)">next</button>
  </header>

  <main class="day-layout__body">

    <section class="day-layout__grid">
      <section class="day-layout__columns">
        <section class="day-layout__column"
           *ngFor="let column of columns">
        </section>
      </section>
      <section
        class="day-layout__events"
        *ngFor="let event of events; let i = index "
        [ngStyle]="{
           'top' : ( event.y | absoluteYPosition ) + 'px',
           'left': ( i | absoluteDayPosition ) + 'px',
           'height': ( +event.duration | transformDuration ) + 'px'
          }">
        {{ event.description }}
      </section>
    </section>

  </main>
</section>
