<section class="day-layout">

 <div class="day-layout__wrapper">
   <header class="day-layout__header">
     <button (click)="changeDay(-1)">prev</button>

     <section class="day-layout__title">
       {{ currentDay }}
     </section>

     <button (click)="changeDay(1)">next</button>
   </header>
 </div>

  <main class="day-layout__body">

    <section class="day-layout__grid">
      <section class="day-layout__columns">
        <section class="day-layout__column"
           *ngFor="let column of columns">
        </section>
      </section>
      <section
        class="day-layout__events"
        *ngFor="let event of calendar[currentDay - 1].events; let i = index "
        [ngStyle]="{
           'top' : ( event.y | absoluteYPosition ) + 'px',
           'left': ( i | absoluteDayPosition ) + 'px',
           'height': ( +event.duration | transformDuration ) + 'px'
          }">
       {{ currentDay }} {{ event.description }}
      </section>
    </section>

  </main>
</section>
