
<section class="main-layout">
  <header class="main-layout__header">
    <navbar></navbar>
  </header>


  <main class="main-layout__body">

    <aside class="main-layout__aside">
      <section class="main-layout__notes">
        <ul class="main-layout__menu">
          <li class="main-layout__list">
            Some default Notes
          </li>
          <li class="main-layout__list">
            Some default Notes
          </li>
          <li class="main-layout__list">
            Some default Notes
          </li>
        </ul>
      </section>
    </aside>

    <section class="main-layout__section">
      <router-outlet></router-outlet>
    </section>

  </main>
</section>
